<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body th:object="${fox}">
<ul>
    <li><a th:href="'/?name=' + *{name}">Information</a></li>
    <li><a th:href="'/nutritionstore?name=' + *{name}">Nutrition store</a></li>
    <li><a th:href="'/trickCenter?name=' + *{name}">Trick center</a></li>
</ul>

<form action="/changenutrition" method="post">
    <input type="hidden" name="name" th:value="*{name}">
    <label for="food">Food</label>
    <select id="food" name="food">
        <option th:each="food: ${foods}" th:text="${food}" th:value="${food}" th:selected="${food}==*{food}"></option>
    </select>
    <label for="drink">Drink</label>
    <select id="drink" name="drink">
        <option th:each="drink: ${drinks}" th:text="${drink}" th:value="${drink}" th:selected="${drink}==*{drink}"></option>
    </select>
    <input type="submit" value="Change">
</form>
</body>
</html>