<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todos for today</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Assignees:</h1>
<form th:each="assignee : ${assigneelist}" th:object="${assignee}" th:action="@{/todo/addassignee}" th:method="post">
        <span th:text="*{id}"></span><input type="hidden" name="id" th:value="${assignee.id}">
        <input type="text" name="name" th:value="${assignee.name}">
        <input type="text" name="email" th:value="${assignee.email}">
        <input type="submit" value="modify">

</form>

<h2>Add new assignee</h2>
<form th:action="@{/todo/addassignee}" th:method="post">
    <input type="hidden" th:field="${new_assignee.id}">
    <label>name</label>
    <input type="text" th:field="${new_assignee.name}"><br>
    <label>email</label>
    <input type="text" th:field="${new_assignee.email}"><br>
    <input type="submit" value="add">
</form>
</body>
</html>