<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Reddit project</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<header>
    <form th:if="${user==null}" th:action="@{/loginform}" th:method="post">
        <input type="text" name="name" placeholder="username" required>
        <input type="submit" name="logintype" value="login">
        <input type="submit" name="logintype" value="register">
    </form>
    <form th:if="${user!=null}" th:action="@{/logout}" th:method="post">
        <a href="/submit">Submit new post</a>
        <span th:text="'Hello, ' + ${user.name} + '!'"></span>
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="submit" value="logout">
    </form>
</header>
<main>
    <h1>trending posts</h1>
    <article th:each="post : ${posts}">
        <form th:action="@{'/vote/'}" th:method="post">
            <input type="hidden" name="id" th:value="${post.id}">
            <input type="submit" name="vote" value="+">
            <span th:text="${post.vote}"></span>
            <input type="submit" name="vote" value="-">
        </form>
        <a th:href="${post.url}" th:text="${post.title}"></a>
        <span th:text="${post.date}"></span>
        <span th:text="${post.name}==null ? 'unidentified user' : ${post.name}"></span>
    </article>
</main>
<footer>
    <a th:each="page : ${pages}" th:href="@{'/page/' + ${page} + '/'}" th:text="${page}"></a>
</footer>
</body>
</html>