<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<main>
    <h1>Submit new post</h1>
    <form th:object="${newpost}" th:action="@{/submit}" th:method="post">
        <label>Title:</label><br>
        <input type="text" th:field="*{title}" required><br>
        <label>url:</label><br>
        <input type="url" th:field="*{url}" required><br>
        <input type="hidden" name="user_id" th:value="${user_id}">
        <input type="submit">
    </form>
</main>
</body>
</html>