<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<main>
    <h1>Submit new post</h1>
    <form th:object="${newpost}" th:action="@{/submit}" th:method="post">
        <input type="text" th:field="*{title}" required placeholder="title">
        <input type="url" th:field="*{url}" required placeholder="http://example.com">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <input type="submit">
    </form>
</main>
</body>
</html>